<form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="col-3 mb-3">
  <div >
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="email" placeholder="email" id="email" name="email" formControlName="email">
    <div *ngIf="!email?.valid && (email?.dirty || email?.touched)">
      <p *ngIf="email?.errors?.required">Không được để trống</p>
      <p *ngIf="email?.errors?.pattern">Không đúng định dạng</p>
    </div>
  </div>

  <div formGroupName="passwordGroup">
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" placeholder="password" id="password" name="password" formControlName="password">
    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)">
      <p *ngIf="password?.errors?.required">Không được để trống</p>
      <p *ngIf="password?.errors?.minlength">Ít nhất 6 ký tự</p>
    </div>
    <label class="form-label" for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="password" placeholder="confirm password" id="confirmPassword" name="confirmPassword"
           formControlName="confirmPassword">
    <div *ngIf="!confirmPassword?.valid && (confirmPassword?.dirty || confirmPassword?.touched)">
      <p *ngIf="confirmPassword?.errors?.required">Không được để trống</p>
    </div>
    <p *ngIf="registerForm.controls.passwordGroup.hasError('duplicated')">Phải giống nhau</p>
  </div>
  <div>
    <label class="form-label" for="country">Country</label>
    <select class="form-select" placeholder="country" id="country" name="country" formControlName="country">
      <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
    </select>
    <div *ngIf="!country?.valid && (country?.dirty || country?.touched)">
      <p *ngIf="country?.errors?.required">Không được để trống</p>
    </div>
  </div>
  <label class="form-label" for="age">Age</label>
  <input class="form-control" type="number" placeholder="age" id="age" name="age" formControlName="age">
  <div *ngIf="!age?.valid && (age?.dirty || age?.touched)">
    <p *ngIf="registerForm.errors?.required">Không được để trống</p>
    <p *ngIf="age?.errors?.min">Không được nhỏ hơn 18 tuổi</p>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="male">Male</label>
    <input class="form-check-input" type="radio" value="male" id="male" name="gender" formControlName="gender">
  </div>
  <div class="form-check">
    <label class="form-check-label" for="female">Female</label>
    <input class="form-check-input" type="radio" value="female" id="female" name="gender" formControlName="gender">
  </div>
  <div *ngIf="!gender?.valid && (gender?.dirty || gender?.touched)">
    <p *ngIf="gender?.errors?.required">Không được để trống</p>
  </div>
  <label class="form-label" for="phone">Phone</label>
  <input class="form-control" type="text" placeholder="phone" id="phone" name="phone" formControlName="phone">
  <div *ngIf="!phone?.valid && (phone?.dirty || phone?.touched)">
    <p *ngIf="phone?.errors?.required">Không được để trống</p>
    <p *ngIf="phone?.errors?.pattern">Không đúng định dạng</p>
  </div>
  <button type="submit" class="btn btn-success" >Submit</button>
</form>
