<h2>Student List</h2>
<div *ngIf="mess">
  <span style="color: red">{{mess}}</span>
</div>
<table>
  <thead>
  <tr>
    <td>STT</td>
    <td>Name</td>
    <td>Gender</td>
    <td>Edit</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of studentList,let i =index">
    <td>{{i+1}}</td>
    <td>{{item.name}}</td>
    <td ngSwitch="{{item.gender}}">
      <span *ngSwitchCase="0">Nữ</span>
      <span *ngSwitchCase="1">Nam</span>
    </td>
    <td><button [routerLink]="['/student/edit' , item.id]">Edit</button></td>
  </tr>
  </tbody>
</table>
