<div class="d-flex justify-content-center">
  <div class="col-6">
    <!--            ----------Tiêu đề------------>
    <div class="my-5"><h1>Thêm mới khách hàng</h1></div>
    <form class="my-5" [formGroup]="createCustomerForm" (ngSubmit)="createCustomer()">
      <!--            ----------Form nhập tên------------>
      <div class="form-group">
        <label for="name">Tên khách hàng</label>
        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nhập đầy đủ họ tên">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.name.invalid && createCustomerForm.controls.name.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.name.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.name.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form chọn loại khách------------>
      <div class="form-group">
        <label for="customerType">Loại khách hàng</label>
        <select class="form-select" id="customerType" formControlName="customerType" [compareWith]="compareWith">
          <option [ngValue]="{}">Hãy chọn loại khách hàng</option>
          <option *ngFor="let item of customerTypes" [ngValue]="item">
            {{item.name}}
          </option>
        </select>
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.customerType.invalid && createCustomerForm.controls.customerType.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.customerType.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập ngày sinh------------>
      <div class="form-group">
        <label for="birthday">Ngày sinh</label>
        <input type="date" class="form-control" id="birthday" formControlName="birthday"
               min="1920-01-01">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.birthday.invalid && createCustomerForm.controls.birthday.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.birthday.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.birthday.hasError('pattern')">Không đúng định dạng</span>
          <span *ngIf="createCustomerForm.controls.birthday.hasError('greaterThan18')">Chưa đủ 18</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form chọn giới tính------------>
      <div class="form-group">
        <label for="gender">Giới tính</label>
        <select class="form-select hideDefaultSelect" id="gender" formControlName="gender">
          <option class="defaultSelect" value="">Hãy chọn giới tính</option>
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.gender.invalid && createCustomerForm.controls.gender.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.gender.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.gender.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập CCCD------------>
      <div class="form-group">
        <label for="idCard">Số CCCD</label>
        <input type="text" class="form-control" formControlName="idCard" id="idCard" placeholder="9 hoặc 12 số">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.idCard.invalid && createCustomerForm.controls.idCard.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.idCard.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.idCard.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập số điện thoại------------>
      <div class="form-group">
        <label for="phoneNumber">Số điện thoại</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber"
               placeholder="09xxxxxxxx/+849xxxxxxxx">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.phoneNumber.invalid && createCustomerForm.controls.phoneNumber.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.phoneNumber.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.phoneNumber.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập email------------>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email" placeholder="abc@abc.abc">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.email.invalid && createCustomerForm.controls.email.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.email.hasError('required')">Không được để trống</span>
          <span *ngIf="createCustomerForm.controls.email.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập địa chỉ------------>
      <div class="form-group">
        <label for="address">Địa chỉ</label>
        <input type="text" class="form-control" id="address" formControlName="address">
        <div class="text-danger"
             *ngIf="createCustomerForm.controls.address.invalid && createCustomerForm.controls.address.touched else elseBlock">
          <span *ngIf="createCustomerForm.controls.address.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Nút tuỳ chọn------------>
      <div class="form-group d-flex align-items-center justify-content-center" style="margin-top: 25px">
        <a routerLink="/customer" style="text-decoration: none; width: 30%"
           class="form-control btn btn-outline-info mx-5">
          Hủy
        </a>
        <button style="width: 30%" type="submit" class="btn btn-outline-success mx-5">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
