<div class="d-flex justify-content-center">
  <div class="col-6">
    <!--            ----------Tiêu đề------------>
    <div class="my-5"><h1>Thêm mới hợp đồng</h1></div>
    <form class="my-5" [formGroup]="contractForm" (ngSubmit)="submitContract()">
      <!--            ----------Form bắt đầu------------>
      <div class="form-group">
        <label for="startDate">Ngày bắt đầu</label>
        <input type="date" class="form-control" id="startDate" formControlName="startDate" min="1920-01-01">
        <div class="text-danger"
             *ngIf="(contractForm.controls.startDate.invalid) && contractForm.controls.startDate.touched else elseBlock1">
          <span *ngIf="contractForm.controls.startDate.hasError('required')">Không được để trống</span>
          <span *ngIf="contractForm.controls.startDate.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock1><br></ng-template>
      </div>
      <!--            ----------Ngày kết thúc------------>
      <div class="form-group">
        <label for="endDate">Ngày kết thúc</label>
        <input type="date" class="form-control" id="endDate" formControlName="endDate" min="1920-01-01">
        <div class="text-danger"
             *ngIf="(contractForm.controls.endDate.invalid || contractForm.invalid) && contractForm.controls.endDate.touched else elseBlock2">
          <span *ngIf="contractForm.controls.endDate.hasError('required')">Không được để trống</span>
          <span *ngIf="contractForm.controls.endDate.hasError('pattern')">Không đúng định dạng</span>
          <span
            *ngIf="contractForm.hasError('endDateAfterStartDate')">Ngày kết thúc không được trước ngày bắt đầu
          </span>
        </div>
        <ng-template #elseBlock2><br></ng-template>
      </div>
      <!--            ----------Thêm tiền đặt cọc------------>
      <div class="form-group">
        <label for="deposit">Đặt cọc</label>
        <input type="text" class="form-control" id="deposit" formControlName="deposit"
               placeholder="Đặt cọc không nhỏ hơn 0">
        <div class="text-danger"
             *ngIf="contractForm.controls.deposit.invalid && contractForm.controls.deposit.touched else elseBlock3">
          <span *ngIf="contractForm.controls.deposit.hasError('required')">Không được để trống</span>
          <span *ngIf="contractForm.controls.deposit.hasError('min')">Không được nhỏ hơn không</span>
        </div>
        <ng-template #elseBlock3><br></ng-template>
      </div>
      <!--            ----------Thêm khách hàng thuê dịch vụ------------>
      <div class="form-group">
        <label for="customerId">Khách hàng thuê dịch vụ</label>
        <select class="form-select" aria-label="Default select example" id="customerId"
                formControlName="customer" [compareWith]="compareWith">
          <option [ngValue]="{}">---Chọn---</option>
          <option *ngFor="let item of customers" [ngValue]="item">{{item.name}}</option>
        </select>
        <div class="text-danger"
             *ngIf="contractForm.controls.customer.invalid && contractForm.controls.customer.touched else elseBlock4">
          <span *ngIf="contractForm.controls.customer.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock4><br></ng-template>
      </div>
      <!--            ----------Thêm dịch vụ------------>
      <div class="form-group">
        <label for="facility">Dịch vụ</label>
        <select class="form-select" aria-label="Default select example" id="facility"
                formControlName="facility" [compareWith]="compareWith">
          <option [ngValue]="{}">---Chọn---</option>
          <option *ngFor="let item of facilities" [ngValue]="item">{{item.name}}</option>
        </select>
        <div class="text-danger"
             *ngIf="contractForm.controls.facility.invalid && contractForm.controls.facility.touched else elseBlock5">
          <span *ngIf="contractForm.controls.facility.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock5><br></ng-template>
      </div>
      <!--            ----------Thêm nhân viên------------>
      <div class="form-group">
        <label for="employee">Nhân viên</label>
        <select class="form-select" aria-label="Default select example" id="employee"
                formControlName="employee" [compareWith]="compareWith">
          <option [ngValue]="{}">---Chọn---</option>
          <option *ngFor="let item of employees" [ngValue]="item">{{item.name}}</option>
        </select>
        <div class="text-danger"
             *ngIf="contractForm.controls.employee.invalid && contractForm.controls.employee.touched else elseBlock6">
          <span *ngIf="contractForm.controls.employee.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock6><br></ng-template>
      </div>
      <!--            ----------Nút tuỳ chọn------------>
      <div class="form-group d-flex align-items-center justify-content-center" style="margin-top: 25px">
        <a routerLink="/contract" style="text-decoration: none; width: 30%"
           class="form-control btn btn-outline-info mx-5">
          Hủy
        </a>
        <button style="width: 30%" type="submit" class="btn btn-outline-success mx-5">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
