<h2>Edit Student</h2>
<div *ngIf="student">
  <form [formGroup]="formReactive" (ngSubmit)="saveEditStudent()">
    <input type="hidden" formControlName="id">
    <div>
      <label>Name: </label>
      <input formControlName="name">
    </div>
    <div>
      <label>Gender: </label>
      <select formControlName="gender">
        <option value="1">Nam</option>
        <option value="0">Nữ</option>
      </select>
    </div>
    <div>
      <button type="submit">Save</button>
    </div>
  </form>
</div>

