<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong id="inDam"><h1 class="card-title" style="color: red">Login</h1></strong>
        </div>


        <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
          <form [formGroup]="formReactive" (ngSubmit)="save()" >
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >Email</label>

              <div class="input-group input-group-merge">
                <input type="text" formControlName="email"  id="email">
                <span style="color: red" *ngIf="formReactive.controls.email.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formReactive.controls.email.hasError('email')">không đúng định dạng</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >password</label>
              <div class="input-group input-group-merge">
                <input type="password" formControlName="password" >
                <span style="color: red" *ngIf="formReactive.controls.password.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formReactive.controls.password.hasError('minlength')">  ít nhất là 6</span>
                <br>
              </div>
            </div>



            <button type="submit">Login</button>
          </form>

        </div>

      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>



