<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3E469E">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-nav></app-nav>
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <!--            ----------Tiêu đề------------>
    <div class="my-5"><h1>Thêm mới dịch vụ</h1></div>
    <form class="my-5" [formGroup]="formCreateFacility" (ngSubmit)="submitFacility()">
      <!--            ----------Form chọn loại dịch vụ------------>
      <div class="form-group">
        <label for="facilityType">Loại dịch vụ</label>
        <select class="form-select hideDefaultSelect" id="facilityType" formControlName="facilityType" [compareWith]="compareWith" (change)="checkFacilityType(formCreateFacility)">
          <option class="defaultSelect" [ngValue]="{}">Hãy chọn loại dịch vụ</option>
          <option class="defaultSelect" *ngFor="let item of facilityTypes" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.facilityType.invalid && formCreateFacility.controls.facilityType.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.facilityType.hasError('required')">Không được để trống</span>
      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form nhập tên------------>
      <div class="form-group">
        <label for="name">Tên dịch vụ</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Tên gồm chứ và số. Vd: Abc123">
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.name.invalid && formCreateFacility.controls.name.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.name.hasError('required')">Không được để trống</span>
      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form nhập diện tích------------>
      <div class="form-group">
        <label for="area">Diện tích</label>
        <input type="text" class="form-control" id="area" formControlName="area" placeholder="Diện tích phải lớn hơn không">
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.area.invalid && formCreateFacility.controls.area.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.area.hasError('required')">Không được để trống</span>
        <span *ngIf="formCreateFacility.controls.area.hasError('pattern')">Không đúng định dạng</span>
        <span *ngIf="formCreateFacility.controls.area.hasError('min')">Không được nhỏ hơn không</span>

      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form nhập giá------------>
      <div class="form-group">
        <label for="cost">Giá</label>
        <input type="text" class="form-control" id="cost" formControlName="cost" placeholder="Giá dịch vụ phải lớn hơn không">
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.cost.invalid && formCreateFacility.controls.cost.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.cost.hasError('required')">Không được để trống</span>
        <span *ngIf="formCreateFacility.controls.cost.hasError('pattern')">Không đúng định dạng</span>
        <span *ngIf="formCreateFacility.controls.cost.hasError('min')">Không được nhỏ hơn không</span>
      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form nhập số người tối đa------------>
      <div class="form-group">
        <label for="maxPeople">Số người tôi đa</label>
        <input type="text" class="form-control" id="maxPeople" formControlName="maxPeople"
               placeholder="Số người phải lớn hơn không">
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.maxPeople.invalid && formCreateFacility.controls.maxPeople.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.maxPeople.hasError('required')">Không được để trống</span>
        <span *ngIf="formCreateFacility.controls.maxPeople.hasError('pattern')">Không đúng định dạng</span>
        <span *ngIf="formCreateFacility.controls.maxPeople.hasError('min')">Không được nhỏ hơn không</span>
      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form chọn kiểu thuê------------>
      <div class="form-group">
        <label for="rentType">Kiểu thuê</label>
        <select class="form-select hideDefaultSelect" id="rentType" formControlName="rentType" [compareWith]="compareWith">
          <option class="defaultSelect" [ngValue]="{}">Hãy chọn kiểu thuê</option>
          <option class="defaultSelect" *ngFor="let item of rentTypes" [ngValue]="item">{{item.name}}</option>

        </select>
      </div>
      <div class="text-danger"
           *ngIf="formCreateFacility.controls.rentType.invalid && formCreateFacility.controls.rentType.touched else elseBlock">
        <span *ngIf="formCreateFacility.controls.rentType.hasError('required')">Không được để trống</span>
      </div>
      <ng-template #elseBlock><br></ng-template>
      <!--            ----------Form chọn tiêu chuẩn phòng------------>
      <div class="form-group" *ngIf="formCreateFacility.controls.facilityType.value.name !== 'Room'">
        <label for="standardRoom">Tiêu chuẩn phòng</label>
        <select class="form-select hideDefaultSelect" id="standardRoom" formControlName="standardRoom" >
          <option class="defaultSelect" value="">Hãy chọn tiêu chuẩn</option>
          <option value="Vip">Vip</option>
          <option value="Normal">Normal</option>
        </select>
        <div class="text-danger"
             *ngIf="formCreateFacility.controls.standardRoom.invalid && formCreateFacility.controls.standardRoom.touched else elseBlock">
          <span *ngIf="formCreateFacility.controls.standardRoom.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập mô tả tiện ích khác------------>
      <div class="form-group" *ngIf="formCreateFacility.controls.facilityType.value.name !== 'Room'">
        <label for="descriptionOtherConvenience">Mô tả tiện ích khác</label>
        <input type="text" class="form-control" id="descriptionOtherConvenience" formControlName="descriptionOtherConvenience">
        <div class="text-danger"
             *ngIf="formCreateFacility.controls.descriptionOtherConvenience.invalid && formCreateFacility.controls.descriptionOtherConvenience.touched else elseBlock">
          <span *ngIf="formCreateFacility.controls.descriptionOtherConvenience.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập diện tích hồ bơi------------>
      <div class="form-group poolArea" *ngIf="formCreateFacility.controls.facilityType.value.name === 'Villa'">
        <label for="poolArea">Diện tích hồ bơi</label>
        <input type="text" class="form-control" id="poolArea" formControlName="poolArea"
               placeholder="Diện tích hồ bơi phải lớn hơn không">
        <div class="text-danger"
             *ngIf="formCreateFacility.controls.poolArea.invalid && formCreateFacility.controls.poolArea.touched else elseBlock">
          <span *ngIf="formCreateFacility.controls.poolArea.hasError('required')">Không được để trống</span>
          <span *ngIf="formCreateFacility.controls.poolArea.hasError('min')">Không được nhỏ hơn không</span>
          <span *ngIf="formCreateFacility.controls.poolArea.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập số tầng------------>
      <div class="form-group numberOfFloor"  *ngIf="formCreateFacility.controls.facilityType.value.name !== 'Room'">
        <label for="numberOfFloor">Số tầng</label>
        <input type="text" class="form-control" id="numberOfFloor" formControlName="numberOfFloors"
               placeholder="Số tầng phải lớn hơn không">
        <div class="text-danger"
             *ngIf="formCreateFacility.controls.numberOfFloors.invalid && formCreateFacility.controls.numberOfFloors.touched else elseBlock">
          <span *ngIf="formCreateFacility.controls.numberOfFloors.hasError('required')">Không được để trống</span>
          <span *ngIf="formCreateFacility.controls.numberOfFloors.hasError('min')">Không được nhỏ hơn không</span>
          <span *ngIf="formCreateFacility.controls.numberOfFloors.hasError('pattern')">Không đúng định dạng</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Form nhập dịch vụ miễn phí------------>
      <div class="form-group facilityFree" *ngIf="formCreateFacility.controls.facilityType.value.name === 'Room'">
        <label for="facilityFree">Dịch vụ miễn phí</label>
        <input type="text" class="form-control" id="facilityFree" formControlName="facilityFree">
        <div class="text-danger"
             *ngIf="formCreateFacility.controls.facilityFree.invalid && formCreateFacility.controls.facilityFree.touched else elseBlock" >
          <span *ngIf="formCreateFacility.controls.facilityFree.hasError('required')">Không được để trống</span>
        </div>
        <ng-template #elseBlock><br></ng-template>
      </div>
      <!--            ----------Nút tuỳ chọn------------>
      <div class="form-group d-flex align-items-center justify-content-center" style="margin-top: 25px">
        <a routerLink="/facility" style="text-decoration: none; width: 30%"
           class="form-control btn btn-outline-info mx-5">
          Hủy
        </a>
        <button style="width: 30%" type="submit" class="btn btn-outline-success mx-5">
          Lưu
        </button>
      </div>
    </form>
  </div>
</div>
