<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong id="inDam"><h1 class="card-title" style="color: red">Register</h1></strong>
        </div>


        <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
          <form [formGroup]="formReactive" (ngSubmit)="save()" >
            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >ID</label>
              <div class="input-group input-group-merge">
                <input type="text" formControlName="id" >
                <span style="color: red" *ngIf="formReactive.controls.id.hasError('required')">  không được để trống</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" for="name">name</label>
              <div class="input-group input-group-merge">
                <input type="text" formControlName="name"  id="name">
                <span style="color: red" *ngIf="formReactive.controls.name.hasError('required')">  không được để trống</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >Email</label>

              <div class="input-group input-group-merge">
                <input type="text" formControlName="email"  id="email">
                <span style="color: red" *ngIf="formReactive.controls.email.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formReactive.controls.email.hasError('email')">không đúng định dạng</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >password</label>
              <div class="input-group input-group-merge">
                <input type="password" formControlName="password" >
                <span style="color: red" *ngIf="formReactive.controls.password.hasError('required')">  không được để trống</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >country</label>
              <div class="input-group input-group-merge">
                <select formControlName="country">
                  <option >
                  </option>
                  <option value="1">
                    Mỹ Đình
                  </option>
                  <option value="2">
                    Mỹ Tho
                  </option>
                  <option value="1">
                    Mẽo
                  </option>
                </select>
                <span style="color: red" *ngIf="formReactive.controls.country.hasError('required')">  không được để trống</span>
                <br>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label">age</label>
              <div class="input-group input-group-merge">
                <input type="text" formControlName="age"  >
                <span style="color: red" *ngIf="formReactive.controls.age.hasError('required')">  không được để trống</span>
                <br>
              </div>
            </div>


            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >Gender</label>
              <div class="input-group input-group-merge">
                <input type="radio" formControlName="gender" value="0" >Nam
                <input type="radio" formControlName="gender" value="1" >Nữ
                <input type="radio" formControlName="gender" value="2" >LGBT
                <span style="color: red" *ngIf="formReactive.controls.gender.hasError('required') && formReactive.controls.gender.dirty" >không được để trống</span>
              </div>
            </div>

            <div class="col-xl-12 col-md-12 col-sm-12 mb-2">
              <label class="form-label" >phone</label>
              <div class="input-group input-group-merge">
                <input type="text" formControlName="phone"  >
                <span style="color: red" *ngIf="formReactive.controls.phone.hasError('required')">  không được để trống</span>
                <span style="color: red" *ngIf="formReactive.controls.phone.hasError('pattern')">  không được định dạng</span>
                <br>
              </div>
            </div>
            <button type="submit">Register</button>
          </form>

        </div>

      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>


