<div class="modal fade" id="addContractDetailModal" tabindex="-1" aria-labelledby="addContractDetailModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addContractDetailModalLabel">Thêm mới hợp đồng chi tiết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formAddContractDetail" (ngSubmit)="addContractDetail()">
        <div class="modal-body">
          <div class="form-group">
            <p [innerText]="formAddContractDetail.controls.contract.value.id"></p>
          </div>
          <div class="form-group">
            <label for="attachFacility">Tên dịch vụ đi kèm</label>
            <select class="form-select" aria-label="Default select example" id="attachFacility"
                    formControlName="attachFacility" [compareWith]="compareWith">
              <option [ngValue]="{}">---Chọn---</option>
              <option *ngFor="let item of attachFacilities" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="quantity">Số lượng</label>
            <input type="text" class="form-control" formControlName="quantity" id="quantity"
                   placeholder="Số nguyên lớn hơn 0">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Thêm</button>
        </div>
      </form>
    </div>
  </div>
</div>
