<h2 style="text-align: center; color: brown">CustomerList</h2>
<button class="btn btn-outline-success" routerLink="/customer/create">(+) Create Customer</button>
<div class="d-flex align-items-center mt-2">
  <input class="form-control w-auto" placeholder="Name" #name>
  <input class="form-control w-auto" placeholder="Customer Type" #customerType>
  <button class="btn btn-outline-success" (click)="search(name.value,customerType.value)">Search</button>
</div>
<div>
  <table class="table table-success">
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Rank</th>
      <th>Type</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody *ngIf="customerList">
    <tr *ngFor="let item of customerList| paginate:{itemsPerPage: 5, currentPage: page}, let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.name}}</td>
      <td ngSwitch="{{item.gender}}">
        <span *ngSwitchCase="0">Nữ</span>
        <span *ngSwitchCase="1">Nam</span>
        <span *ngSwitchCase="2">LGBT</span>
      </td>
      <td>{{item.rank}}</td>
      <td>{{item.customerType.name}}</td>
      <td>
        <button class="btn btn-outline-success" [routerLink]="['/customer/edit',item.id]">Edit</button>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-success"
                data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="infoDelete(item)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--  Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngIf="customer">Bạn có muốn xóa <span style="color:red;">{{customer.name}}</span></p>
        </div>
        <div class="modal-footer">
          <button id="close-modal-delete" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không
          </button>
          <button type="button" class="btn btn-success" (click)="deleteCustomer()"
                  data-bs-dismiss="modal">Có
          </button>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
