<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3E469E">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-nav></app-nav>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning" type="submit">Tìm</button>
      </form>
    </div>
  </div>
</nav>
<!-----------------Nút trở lại thêm mới tiêu đề----------------->
<div>
  <div class="row text-center align-items-center" style="border-bottom: 2px black solid">
    <div class="col-1">
      <button type="button" class="btn btn-outline-success">
        <a style="text-decoration: none; color: #198754" href="/">Trờ lại</a>
      </button>
    </div>
    <div class="col-10">
      <h1 class="my-1">DANH SÁCH KHÁCH HÀNG</h1>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-success">
        <a style="text-decoration: none; color: #198754" href="/customer/create ">Thêm mới</a>
      </button>
    </div>
  </div>
  <!-----------------Bảng dảnh sách----------------->
  <table class="table table-striped table-hover" style="width: 100%" id="tableCustomer">
    <thead>
    <tr class="align-middle text-center">
      <th scope="col">Stt</th>
      <th scope="col">Tên khách hàng</th>
      <th scope="col">Loại khách hàng</th>
      <th scope="col">Ngày sinh</th>
      <th scope="col">Giới tính</th>
      <th scope="col">Số CCCD</th>
      <th scope="col">Số điện thoại</th>
      <th scope="col">Email</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of customers, let i = index">
      <th>{{i + 1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.customerType?.name}}</td>
      <td>{{item.birthday}}</td>
      <td>{{item.gender}}</td>
      <td>{{item.idCard}}</td>
      <td>{{item.phoneNumber}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
      <td>
        <a class="btn btn-outline-warning text-warning">
          Sửa
        </a>
      </td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                (click)="temp = item">
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--        ---------------Nút phân trang----------------->
  <div class="row" style="margin: 0; padding: 0">
    <div class="col-4"></div>
    <div class="col-1">
      <a class="btn btn-outline-success">
        Trước
      </a>
    </div>
    <div class="col-2 text-center">
      <p class="text-success" style="margin-top: 5px">Trang / trang</p>
    </div>
    <div class="col-1">
      <a class="btn btn-outline-success">Sau</a>
    </div>
    <div class="col-4"></div>
  </div>
</div>
<app-footer></app-footer>
<!--------modal xoá khách hàng--------->
<app-modal-delete-customer [customer]=temp></app-modal-delete-customer>
