.header-content {
  padding-top: 10px;
  padding-bottom: 12px;
}
div {
  display: block;
}
.header {
  padding-top: 10px;
  padding-bottom: 1px;
  color: #212121;
  font-size: 14px;
  line-height: 1em;
}
.header-topline {
  border-bottom: 2px solid burlywood;
}
.header-nav {
  background-color: #046056;
}
.container-fluid {
  color: white;
}
