<!--<h2 style="text-align: center">Nhập Công Cụ Dụng Cụ</h2>-->
<!--<div>-->
<!--  <button class="btn btn-outline-success" routerLink="/congcudungcu/list">Back List</button>-->
<!--</div>-->
<!--<form *ngIf="reactiveFormCreate" [formGroup]="reactiveFormCreate" style="margin-left: 30%; margin-right: 30%"-->
<!--      (ngSubmit)="saveCreate()">-->
<!--  <input type="hidden" formControlName="id">-->
<!--  <div>-->
<!--    <label>Mã CCDC</label>-->
<!--    <input formControlName="maCongCuDungCu" class="form-control">-->
<!--    <div *ngIf="reactiveFormCreate.controls.maCongCuDungCu.hasError('required') &&-->
<!--                                     reactiveFormCreate.controls.maCongCuDungCu.touched" style="color: red">-->
<!--      Không được để trống!-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>Tên CCDC</label>-->
<!--    <input formControlName="tenCongCuDungCu" class="form-control">-->
<!--    <div *ngIf="reactiveFormCreate.controls.tenCongCuDungCu.hasError('required') &&-->
<!--                                     reactiveFormCreate.controls.tenCongCuDungCu.touched" style="color: red">-->
<!--      Không được để trống!-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <label>Hãng sản xuất</label>-->
<!--    <input formControlName="hangSanXuat" class="form-control">-->
<!--    <div *ngIf="reactiveFormCreate.controls.hangSanXuat.hasError('required') &&-->
<!--                                     reactiveFormCreate.controls.hangSanXuat.touched" style="color: red">-->
<!--      Không được để trống!-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <label>Đơn vị</label>-->
<!--    <input formControlName="donVi" class="form-control">-->
<!--    <div *ngIf="reactiveFormCreate.controls.donVi.hasError('required') &&-->
<!--                                     reactiveFormCreate.controls.donVi.touched" style="color: red">-->
<!--      Không được để trống!-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <label>Số Lượng</label>-->
<!--    <input formControlName="soLuong" class="form-control">-->
<!--    <div *ngIf="reactiveFormCreate.controls.soLuong.hasError('min') &&-->
<!--                                     reactiveFormCreate.controls.soLuong.touched-->
<!--                                     ||(reactiveFormCreate.controls.soLuong.hasError('pattern')-->
<!--                                     &&reactiveFormCreate.controls.soLuong.touched)" style="color: red">-->
<!--      Số lượng phải là số nguyên dương!-->
<!--    </div>-->
<!--    <div *ngIf="reactiveFormCreate.controls.soLuong.hasError('required') &&-->
<!--                                     reactiveFormCreate.controls.soLuong.touched" style="color: red">-->
<!--      Không được để trống!-->
<!--    </div>-->
<!--  </div>-->
<!--  <div>-->
<!--    <span>-->
<!--      <button type="submit" class="btn btn-outline-success" [disabled]="reactiveFormCreate.invalid">Save!</button>-->
<!--    </span>-->
<!--    <span>-->
<!--      <button type="button" class="btn btn-outline-success" (click)="reset()">Reset</button>-->
<!--    </span>-->

<!--  </div>-->
<!--</form>-->
