
<body>
<div style="text-align: center;margin: 5px">
  <h1>List Customer</h1>

  <a href="/customer/create">
    <button style="margin: 10px" type="button" class="btn btn-info">Add New Customer</button>
  </a>

  <table class="table table-dark" style="text-align: center" border="1">
    <thead>
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Facility</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete <span style="color: red" id="nameDelete"></span>?
          </p>
        </div>
        <div class="modal-footer">
          <form action="/facilities/delete">
            <input type="text" name="idDelete" id="id" hidden>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function infoDelete(id, name) {
      document.getElementById("nameDelete").innerText = name;
      document.getElementById("id").value = id;
    }
  </script>
</div>
</body>

