<app-header></app-header>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3E469E">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-nav></app-nav>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-warning" type="submit">Tìm</button>
      </form>
    </div>
  </div>
</nav>
<!-----------------Nút trở lại thêm mới tiêu đề----------------->
<div>
  <div class="row text-center align-items-center" style="border-bottom: 2px black solid">
    <div class="col-1">
      <button type="button" class="btn btn-outline-success">
        <a style="text-decoration: none; color: #198754" href="/">Trờ lại</a>
      </button>
    </div>
    <div class="col-10">
      <h1 class="my-1">DANH SÁCH HỢP ĐỒNG</h1>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-outline-success" id="addContractButton" data-bs-toggle="modal"
              data-bs-target="#addModal">
        Thêm mới
      </button>
    </div>
  </div>
  <!-----------------Bảng dảnh sách----------------->
  <table class="table table-striped table-hover" style="width: 100%" id="tableCustomer">
    <thead>
    <tr class="align-middle text-center">
      <th scope="col">Stt</th>
      <th scope="col">Mã hợp đồng</th>
      <th scope="col">Ngày bắt đầu</th>
      <th scope="col">Ngày kết thúc</th>
      <th scope="col">Đặt cọc</th>
      <th scope="col">Tổng tiền</th>
      <th scope="col">Nhân viên</th>
      <th scope="col">Khách hàng</th>
      <th scope="col">Dịch vụ</th>
      <th scope="col">Dịch vụ đi kèm</th>
    </tr>
    </thead>
    <tbody id="contractBody">
    <tr class="align-middle text-center" *ngFor="let item of contracts, let i = index">
      <th>{{i+1}}</th>
      <td>{{item.id}}</td>
      <td>{{item.startDate}}</td>
      <td>{{item.endDate}}</td>
      <td>{{item.deposit}}</td>
      <td></td>
      <td>{{item.employee?.name}}</td>
      <td>{{item.customer?.name}}</td>
      <td>{{item.facility?.name}}</td>
      <td>
        <button type="button" value="${contract.id}"
                class="btn btn-outline-primary addContractDetailButton" data-bs-toggle="modal"
                data-bs-target="#addContractDetailModal">
          +
        </button>
        <!-- Button trigger modal -->
        <button type="button" value="${contract.id}"
                class="btn btn-outline-primary showAttachFacilityButton" data-bs-toggle="modal"
                data-bs-target="#attachFacilityModal">
          Dịch vụ đi kèm
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <!--        ---------------Nút phân trang----------------->
  <div class="row" style="margin: 0; padding: 0" id="pagination">
    <div class="col-4"></div>
    <div class="col-1">
      <a class="btn btn-outline-success" href="@{/contract(page=${contractList.number-1})}"
         if="${contractList.hasPrevious()}">Trước</a>
    </div>
    <div class="col-2 text-center">
      <p class="text-success" style="margin-top: 5px"
         text="'Trang ' + ${contractList.number +1}+'/'+${contractList.totalPages} + ' trang'"></p>
    </div>
    <div class="col-1">
      <a class="btn btn-outline-success" href="@{/contract(page=${contractList.number+1})}"
         if="${contractList.hasNext()}">Sau</a>
    </div>
    <div class="col-4"></div>
    <p class="text-danger" if="${mess}" text="${mess}"></p>
  </div>
</div>
<app-footer></app-footer>
