<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Premier Village</a>
  </li>
  <!--  <li class="nav-item">-->
  <!--    <a class="nav-link active" routerLink="/customer">Khách hàng</a>-->
  <!--  </li>-->
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle active" id="navbarCustomer" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      Khách hàng
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarCustomer">
      <li><a class="dropdown-item" routerLink="/customer">Danh sách</a></li>
      <li><a class="dropdown-item" routerLink="/customer/use-facility">Danh sách sử dụng dịch vụ</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle active" id="navbarContract" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      Hợp đồng
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarContract">
      <li><a class="dropdown-item" routerLink="/contract">Danh sách</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown ">
    <a class="nav-link dropdown-toggle active" id="navbarFacility" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      Dịch vụ
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarFacility">
      <li><a class="dropdown-item" routerLink="/facility">Danh sách</a></li>
    </ul>
  </li>
</ul>
